[submodule "src/libraries/yaml"]
	path = src/libraries/yaml
	url = https://github.com/go-yaml/yaml
[submodule "src/goraklib"]
	path = src/goraklib
	url = https://github.com/Irmine/GoRakLib
[submodule "src/libraries/anvil"]
	path = src/libraries/anvil
	url = https://github.com/Irmine/GoAnvil
[submodule "src/libraries/nbt"]
	path = src/libraries/nbt
	url = https://github.com/Irmine/GoNBT
